*{
  box-sizing: border-box;
}
body {
    background-color: aliceblue;
}

#jumbo{
  background-color: aquamarine;
}

.header{
    height: 40px;
    position: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 35px;
    color: black;
    margin-bottom: 6px;
}

#main-content{
  width: 100%;
  margin: auto;
}

.col{
  background-color: antiquewhite;
}

#movie-section{
  border: 3px rgb(56, 142, 163) solid;
  margin-right: 15px;
  border-radius: 10px;
}

#food-section{
  border: 3px rgb(158, 100, 155) solid;
  border-radius: 10px;
}

#space-holder{
  height:200px;
}
.footer {
  padding-top: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(56, 142, 163);
  color: white;
  text-align: center;
}